<div class="editor-row">
    <div class="section gf-form-group">
        <div class="gf-form" checked="ctrl.panel.setOption.debug.print" on-change="ctrl.refresh()">
            <label for="check-debug-print" class="gf-form-label width-8">print</label>
            <div class="gf-form-switch ">
                <input id="check-debug-print" type="checkbox" ng-model="ctrl.panel.setOption.debug.print"
                    ng-change="ctrl.refresh()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <label for="check-debug-print" data-on="Yes" data-off="No"></label>
            </div>
        </div>

    </div>

</div>